$color_1: inherit;
$color_2: #404040;
$color_3: #4285f4;
$color_4: #0d5bdd;
$color_5: #878787;
$color_6: #fff;
$color_7: #212529;
$color_8: #636c72;
$color_9: #34a853;
$color_10: #ea4335;
$color_11: #6ba4ff;
$color_12: #fbbc05;
$color_13: #3d3c3c;
$color_14: #ccc;
$color_15: #16181b;
$color_16: transparent;
$color_17: rgba(0, 0, 0, .9);
$color_18: rgba(0, 0, 0, .5);
$color_19: rgba(0, 0, 0, .7);
$color_20: rgba(0, 0, 0, .3);
$color_21: rgba(255, 255, 255, .5);
$color_22: rgba(255, 255, 255, .75);
$color_23: rgba(255, 255, 255, .25);
$color_24: #4d4d4d;
$color_25: #22457f;
$color_26: #172f57;
$color_27: #464646;
$color_28: #2d2d2d;
$color_29: #1b572b;
$color_30: #0f3018;
$color_31: #385585;
$color_32: #293e61;
$color_33: #836203;
$color_34: #513d02;
$color_35: #7a231c;
$color_36: #511712;
$color_37: #858585;
$color_38: #6c6c6c;
$color_39: #201f1f;
$color_40: #060606;
$color_41: #6a6a6a;
$color_42: #515151;
$color_43: #000;
$color_44: #616161;
$color_45: #226e36;
$color_46: #1f75ff;
$color_47: #b18403;
$color_48: #bf2114;
$color_49: #d9d9d9;
$color_50: #161616;
$color_51: #a6a6a6;
$color_52: #5a5a5a;
$color_53: #504e4e;
$color_54: #696969;
$color_55: #c5c5c5;
$color_56: gray;
$color_57: #737373;
$color_58: #8a8a8a;
$color_59: #979595;
$color_60: #7b7b7b;
$color_61: #3d3d3d;
$color_62: #b0b0b0;
$color_63: #aaa;
$color_64: #3b3b3b;
$color_65: #d1d1d1;
$color_66: #999;
$color_67: #b3b3b3;
$color_68: #595858;
$color_69: #6b6b6b;
$color_70: #6e6e6e;
$color_71: #a3a3a3;
$color_72: #5e5e5e;
$color_73: #303030;
$color_74: #7a7a7a;
$color_75: silver;
$color_76: #8d8d8d;
$color_77: #333;
$color_78: #777;
$color_79: #a1a1a1;
$color_80: contrast-color(#4285f4);
$color_81: #9e9e9e;
$color_82: #bababa;
$color_83: #9d9d9d;
$color_84: #807e7e;
$color_85: #696767;
$color_86: #555;
$color_87: #d14;
$color_88: #458;
$color_89: #b8b6b1;
$color_90: teal;
$color_91: #949494;
$color_92: #ef6e62;
$color_93: #697ce8;
$color_94: #b5db99;
$color_95: #e9c865;
$color_96: #c3b8b7;
$color_97: #ff9787;
$color_98: #ababab;
$color_99: #424242;
$color_100: #787878;
$color_101: #8c8c8c;
$color_102: #c2c2c2;
$color_103: #c4c4c4;
$color_104: #272727;
$color_105: #646464;
$color_106: #4a4a4a;
$color_107: #5d82d1;
$color_108: #50bff5;
$color_109: #eb5e4c;
$color_110: #f7659c;
$color_111: #0063dc;
$color_112: #238cc8;
$color_113: #ef4e41;
$color_114: #e13138;
$color_115: #426d9b;
$color_116: #007ee5;
$color_117: #2dbe60;
$color_118: #5f99f5;
$color_119: #37b358;
$color_120: #f6c163;
$color_121: #eb6357;
$color_122: #707070;
$color_123: #4287f3;
$color_124: #309c4c;
$color_125: #4c91ff;
$color_126: #f4b646;
$color_127: #e84a3c;
$color_128: #f0f0f0;
$color_129: #adadad;
$color_130: #242424;
$color_131: #c2c1c1;
$color_132: #093d94;
$color_133: #103319;
$color_134: #0050d1;
$color_135: #654c02;
$color_136: #79150d;
$color_137: #666;
$color_138: #8a8888;
$color_139: #ffc600;
$color_140: #888;
$color_141: #fea200;
$color_142: #969696;
$color_143: #cecece;
$color_144: #edebe6;
$color_145: #eee;
$color_146: #92cf78;
$color_147: #f386ac;
$color_148: #8275e7;
$color_149: #97f6fb;
$color_150: #dcc175;
$color_151: #e3e2e0;
$color_152: #1dfdc0;
$color_153: #f2c770;
$color_154: #e86493;
$color_155: #bad3fb;
$color_156: #468847;
$color_157: #3a87ad;
$color_158: #5f5f5f;

$background-color_1: #fff;
$background-color_2: #eee;
$background-color_3: transparent;
$background-color_4: #fcf8e3;
$background-color_5: #212529;
$background-color_6: #f5f5f5;
$background-color_7: #f0f0f0;
$background-color_8: #caddfc;
$background-color_9: #b2cefb;
$background-color_10: #ddd;
$background-color_11: #d0d0d0;
$background-color_12: #c6e7cf;
$background-color_13: #b4dfc0;
$background-color_14: #d6e6ff;
$background-color_15: #bdd6ff;
$background-color_16: #feecb9;
$background-color_17: #fee5a0;
$background-color_18: #f9cac6;
$background-color_19: #f7b5af;
$background-color_20: #f2f2f2;
$background-color_21: #c9c8c8;
$background-color_22: #bcbbbb;
$background-color_23: #f1f1f1;
$background-color_24: #e4e4e4;
$background-color_25: #e3e3e3;
$background-color_26: #3d3c3c;
$background-color_27: rgba(255, 255, 255, .05);
$background-color_28: rgba(255, 255, 255, .075);
$background-color_29: rgba(52, 168, 83, .9);
$background-color_30: #48c76a;
$background-color_31: rgba(234, 67, 53, .9);
$background-color_32: #ef6e63;
$background-color_33: #4285f4;
$background-color_34: #1e6ef2;
$background-color_35: #1266f1;
$background-color_36: #878787;
$background-color_37: #747474;
$background-color_38: #6e6e6e;
$background-color_39: #34a853;
$background-color_40: #2b8b45;
$background-color_41: #288140;
$background-color_42: #6ba4ff;
$background-color_43: #458cff;
$background-color_44: #3885ff;
$background-color_45: #fbbc05;
$background-color_46: #d6a003;
$background-color_47: #ca9703;
$background-color_48: #ea4335;
$background-color_49: #e12717;
$background-color_50: #d62516;
$background-color_51: #ececec;
$background-color_52: #e6e6e6;
$background-color_53: #2a2929;
$background-color_54: #232323;
$background-color_55: #ccc;
$background-color_56: #b9b9b9;
$background-color_57: #b3b3b3;
$background-color_58: #ebf2fe;
$background-color_59: #a1a1a1;
$background-color_60: #dee2e6;
$background-color_61: #d9e7fd;
$background-color_62: #e7e7e7;
$background-color_63: #d6eedd;
$background-color_64: #e1edff;
$background-color_65: #fef2cd;
$background-color_66: #fbd9d7;
$background-color_67: #d8d8d8;
$background-color_68: #22457f;
$background-color_69: #464646;
$background-color_70: #1b572b;
$background-color_71: #385585;
$background-color_72: #836203;
$background-color_73: #7a231c;
$background-color_74: #858585;
$background-color_75: #201f1f;
$background-color_76: #6a6a6a;
$background-color_77: rgba(255, 255, 255, .85);
$background-color_78: currentColor;
$background-color_79: #000;
$background-color_80: #f7f7f7;
$background-color_81: rgba(0, 0, 0, 0);
$background-color_82: #e9e9e9;
$background-color_83: #fafafa;
$background-color_84: #6cd187;
$background-color_85: #fcd050;
$background-color_86: #f39088;
$background-color_87: #206ff2;
$background-color_88: inherit;
$background-color_89: #ebebeb;
$background-color_90: #f6f6f6;
$background-color_91: #00b777;
$background-color_92: #e65a5a;
$background-color_93: #f2c329;
$background-color_94: #4c8bf5;
$background-color_95: rgba(0, 0, 0, .6);
$background-color_96: rgba(0, 0, 0, .8);
$background-color_97: #e1e1e1;
$background-color_98: #d9d9d9;
$background-color_99: #4d4342;
$background-color_100: #5f99f5;
$background-color_101: #f6c163;
$background-color_102: #37b358;
$background-color_103: #eb6357;
$background-color_104: #ededed;
$background-color_105: #e0e0e0;
$background-color_106: #dbdbdb;
$background-color_107: #404040;
$background-color_108: #2572f2;
$background-color_109: #75aaff;
$background-color_110: #4c91ff;
$background-color_111: #eb4c3e;
$background-color_112: #e72919;
$background-color_113: #fbbf0f;
$background-color_114: #dea604;
$background-color_115: #36b057;
$background-color_116: #2d9147;
$background-color_117: #424141;
$background-color_118: #2e2d2d;
$background-color_119: #5d82d1;
$background-color_120: #6588d3;
$background-color_121: #4570ca;
$background-color_122: #50bff5;
$background-color_123: #5ac3f6;
$background-color_124: #33b4f3;
$background-color_125: #eb5e4c;
$background-color_126: #ec6655;
$background-color_127: #e84530;
$background-color_128: #f7659c;
$background-color_129: #f86fa2;
$background-color_130: #f54889;
$background-color_131: #0063dc;
$background-color_132: #0068e6;
$background-color_133: #0055bd;
$background-color_134: #238cc8;
$background-color_135: #2592d1;
$background-color_136: #1e7aae;
$background-color_137: #ef4e41;
$background-color_138: #f0574a;
$background-color_139: #ed3425;
$background-color_140: #e13138;
$background-color_141: #e23a41;
$background-color_142: #d41f26;
$background-color_143: #333;
$background-color_144: #383838;
$background-color_145: #242424;
$background-color_146: #426d9b;
$background-color_147: #4572a2;
$background-color_148: #395e86;
$background-color_149: #007ee5;
$background-color_150: #0084ef;
$background-color_151: #006dc6;
$background-color_152: #2dbe60;
$background-color_153: #2fc664;
$background-color_154: #27a553;
$background-color_155: rgba(255, 255, 255, .1);
$background-color_156: #6da2f6;
$background-color_157: #3bbf5e;
$background-color_158: #7aadff;
$background-color_159: #f7c771;
$background-color_160: #ed7065;
$background-color_161: #bdbdbd;
$background-color_162: #c4c4c4;
$background-color_163: #3b3b3b;
$background-color_164: rgba(0, 0, 0, .07);
$background-color_165: #478af4;
$background-color_166: #319f4e;
$background-color_167: #f5b74b;
$background-color_168: #e84e40;
$background-color_169: rgba(0, 0, 0, .04);
$background-color_170: #3d82f4;
$background-color_171: #33a451;
$background-color_172: #66a1ff;
$background-color_173: #f7b904;
$background-color_174: #ea3f30;
$background-color_175: rgba(115, 115, 115, .08);
$background-color_176: #9e9e9e;
$background-color_177: rgba(255, 255, 255, .08);
$background-color_178: #f8f8f8;
$background-color_179: #2a75f3;
$background-color_180: #2e9549;
$background-color_181: #5294ff;
$background-color_182: #e3aa04;
$background-color_183: #e82e1e;
$background-color_184: #fff7e2;
$background-color_185: #4f4a68;
$background-color_186: fade(#4285f4, 50%);
$background-color_187: rgba(0, 0, 0, .25);
$background-color_188: rgba(0, 0, 0, .1);
$background-color_189: #302f2f;
$background-color_190: #5179ce;
$background-color_191: #42baf4;
$background-color_192: #e9523e;
$background-color_193: #f65693;
$background-color_194: #005ccd;
$background-color_195: #2183bb;
$background-color_196: #ee4133;
$background-color_197: #df242b;
$background-color_198: #2b2b2b;
$background-color_199: #3d6590;
$background-color_200: #f2f3f4;
$background-color_201: #e5e5e5;
$background-color_202: #bad3fb;
$background-color_203: #c9c9c9;
$background-color_204: #f9f9f9;
$background-color_205: #3a87ad;
$background-color_206: #468847;
$border-color_1: #dee2e6;
$border-color_2: #9dc0f9;
$border-color_3: #c1c1c1;
$border-color_4: #95d2a6;
$border-color_5: #b2d0ff;
$border-color_6: #fddc7d;
$border-color_7: #f49d96;
$border-color_8: #fff;
$border-color_9: #9a9a9a;
$border-color_10: #e4e4e4;
$border-color_11: #504f4f;
$border-color_12: #4285f4;
$border-color_13: #34a853;
$border-color_14: #48c76a;
$border-color_15: #ea4335;
$border-color_16: #ef6e63;
$border-color_17: #1266f1;
$border-color_18: #0e60e9;
$border-color_19: #878787;
$border-color_20: #6e6e6e;
$border-color_21: #676767;
$border-color_22: #288140;
$border-color_23: #25773b;
$border-color_24: #6ba4ff;
$border-color_25: #3885ff;
$border-color_26: #2b7dff;
$border-color_27: #fbbc05;
$border-color_28: #ca9703;
$border-color_29: #bd8e03;
$border-color_30: #d62516;
$border-color_31: #ca2315;
$border-color_32: #e6e6e6;
$border-color_33: #dfdfdf;
$border-color_34: #3d3c3c;
$border-color_35: #232323;
$border-color_36: #1d1c1c;
$border-color_37: #ccc;
$border-color_38: #b3b3b3;
$border-color_39: #acacac;
$border-color_40: #ebf2fe;
$border-color_41: transparent;
$border-color_42: #ddd #ddd #dee2e6;
$border-color_43: #dee2e6 #dee2e6 #eee;
$border-color_44: rgba(0, 0, 0, .1);
$border-color_45: rgba(255, 255, 255, .1);
$border-color_46: #caddfc;
$border-color_47: #ddd;
$border-color_48: #c6e7cf;
$border-color_49: #d6e6ff;
$border-color_50: #feecb9;
$border-color_51: #f9cac6;
$border-color_52: #c9c8c8;
$border-color_53: #f1f1f1;
$border-color_54: #22457f;
$border-color_55: #464646;
$border-color_56: #1b572b;
$border-color_57: #385585;
$border-color_58: #836203;
$border-color_59: #7a231c;
$border-color_60: #858585;
$border-color_61: #201f1f;
$border-color_62: #6a6a6a;
$border-color_63: #6cd187;
$border-color_64: #fcd050;
$border-color_65: #f39088;
$border-color_66: #ebebeb;
$border-color_67: #e3e3e3;
$border-color_68: #2a75f3;
$border-color_69: #ababab;
$border-color_70: #2e9549;
$border-color_71: #e3aa04;
$border-color_72: #e82e1e;
$border-color_73: #5f99f5;
$border-color_74: #f6c163;
$border-color_75: #37b358;
$border-color_76: #eb6357;
$border-color_77: #dbdbdb;
$border-color_78: #bababa;
$border-color_79: #4c8bf5;
$border-color_80: #2572f2;
$border-color_81: #75aaff;
$border-color_82: #4c91ff;
$border-color_83: #eb4c3e;
$border-color_84: #e72919;
$border-color_85: #fbbf0f;
$border-color_86: #dea604;
$border-color_87: #36b057;
$border-color_88: #2d9147;
$border-color_89: #f0f0f0;
$border-color_90: #424141;
$border-color_91: #2e2d2d;
$border-color_92: #5d82d1;
$border-color_93: #6588d3;
$border-color_94: #4570ca;
$border-color_95: #50bff5;
$border-color_96: #5ac3f6;
$border-color_97: #33b4f3;
$border-color_98: #eb5e4c;
$border-color_99: #ec6655;
$border-color_100: #e84530;
$border-color_101: #f7659c;
$border-color_102: #f86fa2;
$border-color_103: #f54889;
$border-color_104: #0063dc;
$border-color_105: #0068e6;
$border-color_106: #0055bd;
$border-color_107: #238cc8;
$border-color_108: #2592d1;
$border-color_109: #1e7aae;
$border-color_110: #ef4e41;
$border-color_111: #f0574a;
$border-color_112: #ed3425;
$border-color_113: #e13138;
$border-color_114: #e23a41;
$border-color_115: #d41f26;
$border-color_116: #333;
$border-color_117: #383838;
$border-color_118: #242424;
$border-color_119: #426d9b;
$border-color_120: #4572a2;
$border-color_121: #395e86;
$border-color_122: #007ee5;
$border-color_123: #0084ef;
$border-color_124: #006dc6;
$border-color_125: #2dbe60;
$border-color_126: #2fc664;
$border-color_127: #27a553;
$border-color_128: rgba(255, 255, 255, .5);
$border-color_129: #b5d0fa;
$border-color_130: #478af4;
$border-color_131: #72d48c;
$border-color_132: #319f4e;
$border-color_133: #fbe3ba;
$border-color_134: #f5b74b;
$border-color_135: #f5afa9;
$border-color_136: #e84e40;
$border-color_137: #b8bdc8;
$border-color_138: inherit;
$border-color_139: rgba(255, 255, 255, .4);
$border-color_140: rgba(255, 255, 255, .8);
$border-color_141: rgba(194, 225, 245, 0);
$border-color_142: #a1a1a1;
$border-color_143: #d5d8de;
$border-color_144: #badefd;
$border-color_145: #1b6cf2;
$border-color_146: #5a95f5;
$border-color_147: #bdbdbd;
$border-top-color_1: #b2cefb;
$border-top-color_2: #d0d0d0;
$border-top-color_3: #b4dfc0;
$border-top-color_4: #bdd6ff;
$border-top-color_5: #fee5a0;
$border-top-color_6: #f7b5af;
$border-top-color_7: #f2f2f2;
$border-top-color_8: #bcbbbb;
$border-top-color_9: #e4e4e4;
$border-top-color_10: #000;
$border-top-color_11: rgba(0, 0, 0, .25);
$border-top-color_12: #fff;
$border-top-color_13: #3d84f3;
$border-top-color_14: #f4b441;
$border-top-color_15: #2f984b;
$border-top-color_16: #e74537;
$border-top-color_17: #0c57d3;
$border-top-color_18: #146fff;
$border-top-color_19: #b51f13;
$border-top-color_20: #a77d03;
$border-top-color_21: #206632;
$border-top-color_22: #d4d4d4;
$border-top-color_23: #111;
$border-top-color_24: #3056a8;
$border-top-color_25: #0d9ce1;
$border-top-color_26: #ca2b17;
$border-top-color_27: #f31367;
$border-top-color_28: #003c85;
$border-top-color_29: #16587e;
$border-top-color_30: #c81f11;
$border-top-color_31: #a3181d;
$border-top-color_32: #080808;
$border-top-color_33: #28425e;
$border-top-color_34: #004e8e;
$border-top-color_35: #1c783d;
$border-top-color_36: #206ff2;
$border-top-color_37: #0d5fe6;
$border-top-color_38: transparent;
$border-top-color_39: #2c8d46;
$border-top-color_40: #24753a;
$border-top-color_41: #d9a203;
$border-top-color_42: #bb8c03;
$border-top-color_43: #e42718;
$border-top-color_44: #c82315;
$border-top-color_45: #4285f4;
$border-top-color_46: #6ba4ff;
$border-top-color_47: #ea4335;
$border-top-color_48: #fbbc05;
$border-top-color_49: #34a853;
$border-top-color_50: #3d3c3c;
$border-top-color_51: #bdc0c7;
$border-right-color_1: transparent;
$border-right-color_2: #000;
$border-right-color_3: rgba(0, 0, 0, .25);
$border-right-color_4: #fff;
$border-right-color_5: #206ff2;
$border-right-color_6: #0d5fe6;
$border-right-color_7: #2c8d46;
$border-right-color_8: #24753a;
$border-right-color_9: #d9a203;
$border-right-color_10: #bb8c03;
$border-right-color_11: #e42718;
$border-right-color_12: #c82315;
$border-right-color_13: #e3e3e3;
$border-right-color_14: #ea4335;
$border-right-color_15: #4285f4;
$border-right-color_16: #34a853;
$border-right-color_17: #fbbc05;
$border-bottom-color_1: #000;
$border-bottom-color_2: rgba(0, 0, 0, .25);
$border-bottom-color_3: #fff;
$border-bottom-color_4: #e3e3e3;
$border-bottom-color_5: #4285f4;
$border-bottom-color_6: #34a853;
$border-bottom-color_7: #fbbc05;
$border-bottom-color_8: #ea4335;
$border-bottom-color_9: #1266f1;
$border-bottom-color_10: #3885ff;
$border-bottom-color_11: #d62516;
$border-bottom-color_12: #ca9703;
$border-bottom-color_13: #288140;
$border-bottom-color_14: #e6e6e6;
$border-bottom-color_15: #232323;
$border-bottom-color_16: #3864c3;
$border-bottom-color_17: #20adf2;
$border-bottom-color_18: #e6351e;
$border-bottom-color_19: #f4357d;
$border-bottom-color_20: #004ca9;
$border-bottom-color_21: #1b6e9d;
$border-bottom-color_22: #e92414;
$border-bottom-color_23: #c31c23;
$border-bottom-color_24: #1a1a1a;
$border-bottom-color_25: #335477;
$border-bottom-color_26: #0062b2;
$border-bottom-color_27: #23954b;
$border-bottom-color_28: transparent;
$border-bottom-color_29: #206ff2;
$border-bottom-color_30: #0d5fe6;
$border-bottom-color_31: #2c8d46;
$border-bottom-color_32: #24753a;
$border-bottom-color_33: #d9a203;
$border-bottom-color_34: #bb8c03;
$border-bottom-color_35: #e42718;
$border-bottom-color_36: #c82315;
$border-bottom-color_37: #f7f7f7;
$border-bottom-color_38: rgba(0, 0, 0, .2);
$border-bottom-color_39: rgba(0, 0, 0, .08);
$border-left-color_1: #000;
$border-left-color_2: rgba(0, 0, 0, .25);
$border-left-color_3: #fff;
$border-left-color_4: transparent;
$border-left-color_5: #bababa;
$border-left-color_6: #206ff2;
$border-left-color_7: #0d5fe6;
$border-left-color_8: #2c8d46;
$border-left-color_9: #24753a;
$border-left-color_10: #d9a203;
$border-left-color_11: #bb8c03;
$border-left-color_12: #e42718;
$border-left-color_13: #c82315;
$border-left-color_14: rgba(0, 0, 0, .15);
$border-left-color_15: #4285f4;
$border-left-color_16: #34a853;
$border-left-color_17: #6ba4ff;
$border-left-color_18: #fbbc05;
$border-left-color_19: #ea4335;
$border-left-color_20: #d4d4d4;
$border-left-color_21: #a1a1a1;
$border-left-color_22: #f8f8f8;
$border-left-color_23: #e3e3e3;
$border-left-color_24: #f3f4f5;
$border-left-color_25: #e0e0e0;
$border-left-color_26: #1b6cf2;
$border-left-color_27: #2572f2;
$border-left-color_28: #508ef5;
$outline-color_1: #d4d4d4;
$outline-color_2: transparent;