#content .user {
	color:#8e35ef;
}
#content .power-user {
	color:#f9a200;
}
#content .vip {
	color:#009f00;
}
#content .uploader {
	color:#0000ff;
}
#content .moderator {
	color:#fe2e2e;
}
#content .administrator {
	color:#b000b0;
}
#content .sysop {
	color:#FF0000;
}
#content .chatBot {
	color:#FF6600;
}
#ajaxChatContent .user {
	color:#8e35ef;
}
#ajaxChatContent .power_user {
	color:#f9a200;
}
#ajaxChatContent .vip {
	color:#009f00;
}
#ajaxChatContent .uploader {
	color:#0000ff;
}

#ajaxChatContent .moderator {
	color:#fe2e2e;
}
#ajaxChatContent .administrator {
	color:#b000b0;
}
#ajaxChatContent .sysop {
	color:#FF0000;
}

#ajaxChatContent .chatBot {
	color:#FF6600;
}
#ajaxChatContent #ajaxChatChatList .chatBotErrorMessage {
	color:red;
}